
    <header>
        <nav class="navbar navbar-inverse navbar-static-top" role="navigation">
            <div class="container">
              <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navegacion-fm">
                    <span class="sr-only"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                  <a href="/" class="navbar-brand">Sapeim</a>
              </div>
              <!--Inicia Menu-->
              <div class="collapse navbar-collapse" id="navegacion-fm">
                  <ul class="nav navbar-nav">
                      <li class="active"><a href="/">Inicio</a></li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="botton">
                            Prestamos <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                              {#<li><a href="{% url 'sapeim:prestamos' %}">Ver prestamos</a></li>#}
                              <li class="divider"></li>
                              <li><a href="{% url 'sapeim:add-prestamo' %}">Agregar prestamos</a></li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="botton">
                            Tipo elementos <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="{% url 'sapeim:list-type' %}">Ver tipos</a></li>
                              <li class="divider"></li>
                              <li><a href="{% url 'sapeim:add-type' %}">Agregar tipos</a></li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="botton">
                            Marcas <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="{% url 'sapeim:list-bland' %}">Ver marcas</a></li>
                              <li class="divider"></li>
                              <li><a href="{% url 'sapeim:add-bland' %}">Agregar marcas</a></li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="botton">
                            Elementos <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Ver Elementos</a></li>
                              <li class="divider"></li>
                              <li><a href="{% url 'sapeim:add-elemento' %}">Agregar Elementos</a></li>
                          </ul>
                      </li>
                      <li class="dropdown">
                          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="botton">
                            Usuarios <span class="caret"></span>
                          </a>
                          <ul class="dropdown-menu" role="menu">
                              <li><a href="#">Ver Usuarios</a></li>
                              <li class="divider"></li>
                              <li><a href="{% url 'sapeim:registro' %}">Agregar Usuarios</a></li>
                          </ul>
                      </li>
                      
                  </ul>
                  <ul class="nav navbar-nav navbar-right">
                         <li class="dropdown">
                           <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Bienvenido / {{request.user}} <span class="caret"></span></a>
                           <ul class="dropdown-menu">
                             <li><a href="#">Cerrar Sesion</a></li>
                             <li role="separator" class="divider"></li>
                             <li><a href="#">Separated link</a></li>
                           </ul>
                         </li>
                       </ul>
              </div>
            </div>
        </nav>
    </header>