{% load staticfiles %}
<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <title>Pagina de inicio</title>
    <link rel="stylesheet" href="{% static 'sapeim/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'sapeim/bootstrap.min.css' %}">
  </head>
  <body>
      <div class="container well">
        <h1>Hola Mundo!!!!!!!!</h1>
        <ul>
          {% for elementos in elemento %}
                <li><a href="update-elemento/{{elementos.id}}">{{elementos}}</a><a href="delete-elemento/{{elementos.id}}">  eliminar</a></li>
          {% endfor %}
        </ul>
        <a href="add-elemento">Agregar Nuevo Elemento</a>
      </div>
  </body>
</html>
